In [1]:
from clickzetta.zettapark.session import Session
from clickzetta.zettapark.functions import col,sum,avg,max

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [3]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

In [4]:
schema = ["employee_name","department","state","salary","age","bonus"]
df = session.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show()

df.groupBy("department").sum("salary").show()

df.groupBy("department").count().show()


df.groupBy("department","state") \
    .sum("salary","bonus") \
   .show()

df.groupBy("department") \
    .agg(sum("salary").alias("sum_salary"), \
         avg("salary").alias("avg_salary"), \
         sum("bonus").alias("sum_bonus"), \
         max("bonus").alias("max_bonus") \
     ) \
    .show()
    
df.groupBy("department") \
    .agg(sum("salary").alias("sum_salary"), \
      avg("salary").alias("avg_salary"), \
      sum("bonus").alias("sum_bonus"), \
      max("bonus").alias("max_bonus")) \
    .where(col("sum_bonus") >= 50000) \
    .show()

root
 |-- `employee_name`: StringType() (nullable = False)
 |-- `department`: StringType() (nullable = False)
 |-- `state`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
 |-- `age`: IntegerType() (nullable = False)
 |-- `bonus`: IntegerType() (nullable = False)
-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|James          |Sales       |NY     |90000   |34   |10000  |
|Michael        |Sales       |NY     |86000   |56   |20000  |
|Robert         |Sales       |CA     |81000   |30   |23000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|Raman          |Finance     |CA     |99000   |40   |24000  |
|Scott          |Finance     |NY     |83000   |36   |19000  |
|Jen            |Finance     |NY     |79000   |53   |15000  |
|Jeff           |Marketing   |CA     |80000   |25   |18000  |
|Kumar          |Marketing   |NY     |91000   |50   |21000  |
-------------------------------------------------------------

------------------------------
|department  |`sum`(salary)  |
------------------------------
|Sales       |257000         |
|Finance     |351000         |
|Marketing   |171000         |
------------------------------

----------------------
|department  |count  |
----------------------
|Sales       |3      |
|Finance     |4      |
|Marketing   |2      |
----------------------

-----------------------------------------------------
|department  |state  |`sum`(salary)  |`sum`(bonus)  |
-----------------------------------------------------
|Sales       |NY     |176000         |30000         |
|Sales       |CA     |81000          |23000         |
|Finance     |CA     |189000         |47000         |
|Finance     |NY     |162000         |34000         |
|Marketing   |CA     |80000          |18000         |
|Marketing   |NY     |91000          |21000         |
-----------------------------------------------------

-----------------------------------------------------------------------
|department  |sum_salary  |avg_salary         |sum_bonus  |max_bonus  |
-----------------------------------------------------------------------
|Sales       |257000      |85666.66666666667  |53000      |23000      |
|Finance     |351000      |87750.0            |81000      |24000      |
|Marketing   |171000      |85500.0            |39000      |21000      |
-----------------------------------------------------------------------

-----------------------------------------------------------------------
|department  |sum_salary  |avg_salary         |sum_bonus  |max_bonus  |
-----------------------------------------------------------------------
|Sales       |257000      |85666.66666666667  |53000      |23000      |
|Finance     |351000      |87750.0            |81000      |24000      |
-----------------------------------------------------------------------

In [5]:
session.close()