In [1]:
from clickzetta.zettapark.session import Session

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [4]:
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000) \
  ]

columns= ["employee_name","department","state","salary","age","bonus"]
df = session.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show()

root
 |-- `employee_name`: StringType() (nullable = False)
 |-- `department`: StringType() (nullable = False)
 |-- `state`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
 |-- `age`: IntegerType() (nullable = False)
 |-- `bonus`: IntegerType() (nullable = False)
-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|James          |Sales       |NY     |90000   |34   |10000  |
|Michael        |Sales       |NY     |86000   |56   |20000  |
|Robert         |Sales       |CA     |81000   |30   |23000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
-------------------------------------------------------------

In [5]:
simpleData2 = [("James","Sales","NY",90000,34,10000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns2= ["employee_name","department","state","salary","age","bonus"]

df2 = session.createDataFrame(data = simpleData2, schema = columns2)

df2.printSchema()
df2.show()

root
 |-- `employee_name`: StringType() (nullable = False)
 |-- `department`: StringType() (nullable = False)
 |-- `state`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
 |-- `age`: IntegerType() (nullable = False)
 |-- `bonus`: IntegerType() (nullable = False)
-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|James          |Sales       |NY     |90000   |34   |10000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|Jen            |Finance     |NY     |79000   |53   |15000  |
|Jeff           |Marketing   |CA     |80000   |25   |18000  |
|Kumar          |Marketing   |NY     |91000   |50   |21000  |
-------------------------------------------------------------

In [6]:
unionDF = df.union(df2)
unionDF.show()
disDF = df.union(df2).distinct()
disDF.show()

-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|Kumar          |Marketing   |NY     |91000   |50   |21000  |
|Jeff           |Marketing   |CA     |80000   |25   |18000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|Michael        |Sales       |NY     |86000   |56   |20000  |
|Jen            |Finance     |NY     |79000   |53   |15000  |
|James          |Sales       |NY     |90000   |34   |10000  |
|Robert         |Sales       |CA     |81000   |30   |23000  |
-------------------------------------------------------------

-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|Robert         |Sales       |CA     |81000   |30   |23000  |
|James          |Sales       |NY     |90000   |34   |10000  |
|Jen            |Finance     |NY     |79000   |53   |15000  |
|Kumar          |Marketing   |NY     |91000   |50   |21000  |
|Jeff           |Marketing   |CA     |80000   |25   |18000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|Michael        |Sales       |NY     |86000   |56   |20000  |
-------------------------------------------------------------

In [7]:
unionAllDF = df.unionAll(df2)
unionAllDF.show()

-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|James          |Sales       |NY     |90000   |34   |10000  |
|Michael        |Sales       |NY     |86000   |56   |20000  |
|Robert         |Sales       |CA     |81000   |30   |23000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|James          |Sales       |NY     |90000   |34   |10000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|Jen            |Finance     |NY     |79000   |53   |15000  |
|Jeff           |Marketing   |CA     |80000   |25   |18000  |
|Kumar          |Marketing   |NY     |91000   |50   |21000  |
-------------------------------------------------------------

In [8]:
session.close()