In [1]:
from clickzetta.zettapark.session import Session

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [4]:
df=session.createDataFrame(
        data = [ ("1","2019-06-24 12:01:19.000")],
        schema=["id","input_timestamp"])
df.printSchema()

root
 |-- `id`: StringType() (nullable = False)
 |-- `input_timestamp`: StringType() (nullable = False)

In [5]:
from clickzetta.zettapark.functions import *

# Using Cast to convert Timestamp String to DateType
df.withColumn('date_type', col('input_timestamp').cast('date')) \
       .show()

# Using Cast to convert TimestampType to DateType
df.withColumn('date_type', to_timestamp('input_timestamp').cast('date')) \
  .show()

df.select(to_date(lit('06-24-2019 12:01:19.000'),'MM-dd-yyyy HH:mm:ss.SSSS')) \
  .show()
  
#Timestamp String to DateType
df.withColumn("date_type",to_date("input_timestamp")) \
  .show()

#Timestamp Type to DateType
df.withColumn("date_type",to_date(current_timestamp())) \
  .show() 

df.withColumn("ts",to_timestamp(col("input_timestamp"))) \
  .withColumn("datetype",to_date(col("ts"))) \
  .show()

---------------------------------------------
|id  |input_timestamp          |date_type   |
---------------------------------------------
|1   |2019-06-24 12:01:19.000  |2019-06-24  |
---------------------------------------------

---------------------------------------------
|id  |input_timestamp          |date_type   |
---------------------------------------------
|1   |2019-06-24 12:01:19.000  |2019-06-24  |
---------------------------------------------

------------------------------------------------------
|to_date('06-24-2019 12:01:19.000', 'mm-dd-yyyy ...  |
------------------------------------------------------
|2019-06-24                                          |
------------------------------------------------------

---------------------------------------------
|id  |input_timestamp          |date_type   |
---------------------------------------------
|1   |2019-06-24 12:01:19.000  |2019-06-24  |
---------------------------------------------

---------------------------------------------
|id  |input_timestamp          |date_type   |
---------------------------------------------
|1   |2019-06-24 12:01:19.000  |2024-12-24  |
---------------------------------------------

-------------------------------------------------------------------------
|id  |input_timestamp          |ts                         |datetype    |
-------------------------------------------------------------------------
|1   |2019-06-24 12:01:19.000  |2019-06-24 12:01:19+08:00  |2019-06-24  |
-------------------------------------------------------------------------

In [6]:
#SQL TimestampType to DateType
session.sql("select to_date(current_timestamp) as date_type").show()
#SQL CAST TimestampType to DateType
session.sql("select date(to_timestamp('2019-06-24 12:01:19.000')) as date_type").show()
#SQL CAST timestamp string to DateType
session.sql("select date('2019-06-24 12:01:19.000') as date_type").show()
#SQL Timestamp String (default format) to DateType
session.sql("select to_date('2019-06-24 12:01:19.000') as date_type").show()
#SQL Custom Timeformat to DateType
session.sql("select to_date('06-24-2019 12:01:19.000','MM-dd-yyyy HH:mm:ss.SSSS') as date_type").show()

--------------
|date_type   |
--------------
|2024-12-24  |
--------------

--------------
|date_type   |
--------------
|2019-06-24  |
--------------

--------------
|date_type   |
--------------
|2019-06-24  |
--------------

--------------
|date_type   |
--------------
|2019-06-24  |
--------------

--------------
|date_type   |
--------------
|2019-06-24  |
--------------

In [7]:
session.close()