In [1]:
from clickzetta.zettapark.session import Session
from clickzetta.zettapark.functions import col,array_contains
from clickzetta.zettapark.types import StructType,StructField, StringType, IntegerType, ArrayType

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [3]:
data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
columns = ["Name","Dept","Salary"]

In [4]:
df = session.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show()

root
 |-- `name`: StringType() (nullable = False)
 |-- `dept`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
--------------------------------
|name     |dept       |salary  |
--------------------------------
|James    |Sales      |3000    |
|Michael  |Sales      |4600    |
|Robert   |Sales      |4100    |
|Maria    |Finance    |3000    |
|James    |Sales      |3000    |
|Scott    |Finance    |3300    |
|Jen      |Finance    |3900    |
|Jeff     |Marketing  |3000    |
|Kumar    |Marketing  |2000    |
|Saif     |Sales      |4100    |
--------------------------------

In [5]:
#Equals
df.filter(df.Dept == "Sales") \
    .show()

#Not equals
df.filter(~(df.Dept == "Sales")) \
    .show()
df.filter(df.Dept != "Sales") \
    .show()    
    
df.filter(col("Dept") == "Sales") \
    .show()    
    
df.filter("Salary  == 3000") \
    .show()    

df.filter("Salary  <> 3000") \
    .show()

----------------------------
|name     |dept   |salary  |
----------------------------
|James    |Sales  |3000    |
|Michael  |Sales  |4600    |
|Robert   |Sales  |4100    |
|James    |Sales  |3000    |
|Saif     |Sales  |4100    |
----------------------------

------------------------------
|name   |dept       |salary  |
------------------------------
|Maria  |Finance    |3000    |
|Scott  |Finance    |3300    |
|Jen    |Finance    |3900    |
|Jeff   |Marketing  |3000    |
|Kumar  |Marketing  |2000    |
------------------------------

------------------------------
|name   |dept       |salary  |
------------------------------
|Maria  |Finance    |3000    |
|Scott  |Finance    |3300    |
|Jen    |Finance    |3900    |
|Jeff   |Marketing  |3000    |
|Kumar  |Marketing  |2000    |
------------------------------

----------------------------
|name     |dept   |salary  |
----------------------------
|James    |Sales  |3000    |
|Michael  |Sales  |4600    |
|Robert   |Sales  |4100    |
|James    |Sales  |3000    |
|Saif     |Sales  |4100    |
----------------------------

------------------------------
|name   |dept       |salary  |
------------------------------
|James  |Sales      |3000    |
|Maria  |Finance    |3000    |
|James  |Sales      |3000    |
|Jeff   |Marketing  |3000    |
------------------------------

--------------------------------
|name     |dept       |salary  |
--------------------------------
|Michael  |Sales      |4600    |
|Robert   |Sales      |4100    |
|Scott    |Finance    |3300    |
|Jen      |Finance    |3900    |
|Kumar    |Marketing  |2000    |
|Saif     |Sales      |4100    |
--------------------------------

In [6]:
#IS IN
li=["Sales","Marketing"]
df.filter(df.Dept.isin(li)).show()
#IS NOT IN
df.filter(~df.Dept.isin(li)).show()

df.filter( (df.Dept  == "Sales") & (df.Salary  == 3000) ) \
    .show()            


df.filter(df.Name.startswith("J")).show()
df.filter(df.Name.endswith("f")).show()
df.filter(df.Name.like("M%")).show()

--------------------------------
|name     |dept       |salary  |
--------------------------------
|James    |Sales      |3000    |
|Michael  |Sales      |4600    |
|Robert   |Sales      |4100    |
|James    |Sales      |3000    |
|Jeff     |Marketing  |3000    |
|Kumar    |Marketing  |2000    |
|Saif     |Sales      |4100    |
--------------------------------

----------------------------
|name   |dept     |salary  |
----------------------------
|Maria  |Finance  |3000    |
|Scott  |Finance  |3300    |
|Jen    |Finance  |3900    |
----------------------------

--------------------------
|name   |dept   |salary  |
--------------------------
|James  |Sales  |3000    |
|James  |Sales  |3000    |
--------------------------

------------------------------
|name   |dept       |salary  |
------------------------------
|James  |Sales      |3000    |
|James  |Sales      |3000    |
|Jen    |Finance    |3900    |
|Jeff   |Marketing  |3000    |
------------------------------

-----------------------------
|name  |dept       |salary  |
-----------------------------
|Jeff  |Marketing  |3000    |
|Saif  |Sales      |4100    |
-----------------------------

------------------------------
|name     |dept     |salary  |
------------------------------
|Michael  |Sales    |4600    |
|Maria    |Finance  |3000    |
------------------------------

In [7]:
session.close()