In [1]:
from clickzetta.zettapark.session import Session
from clickzetta.zettapark.functions import col

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [3]:
simpleData = (("James","","Smith","36636","NewYork",3100), \
    ("Michael","Rose","","40288","California",4300), \
    ("Robert","","Williams","42114","Florida",1400), \
    ("Maria","Anne","Jones","39192","Florida",5500), \
    ("Jen","Mary","Brown","34561","NewYork",3000) \
  )
columns= ["firstname","middlename","lastname","id","location","salary"]

In [4]:
df = session.createDataFrame(data=simpleData,schema=columns)
df.printSchema()
df.show()

root
 |-- `firstname`: StringType() (nullable = False)
 |-- `middlename`: StringType() (nullable = False)
 |-- `lastname`: StringType() (nullable = False)
 |-- `id`: StringType() (nullable = False)
 |-- `location`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
-------------------------------------------------------------------
|firstname  |middlename  |lastname  |id     |location    |salary  |
-------------------------------------------------------------------
|James      |            |Smith     |36636  |NewYork     |3100    |
|Michael    |Rose        |          |40288  |California  |4300    |
|Robert     |            |Williams  |42114  |Florida     |1400    |
|Maria      |Anne        |Jones     |39192  |Florida     |5500    |
|Jen        |Mary        |Brown     |34561  |NewYork     |3000    |
-------------------------------------------------------------------

In [5]:
df.drop("firstname") \
  .printSchema()
  
df.drop(col("firstname")) \
  .printSchema()  
  
df.drop(df.firstname) \
  .printSchema()

df.drop("firstname","middlename","lastname") \
    .printSchema()

cols = ("firstname","middlename","lastname")

df.drop(*cols) \
   .printSchema()

root
 |-- `middlename`: StringType() (nullable = False)
 |-- `lastname`: StringType() (nullable = False)
 |-- `id`: StringType() (nullable = False)
 |-- `location`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
root
 |-- `middlename`: StringType() (nullable = False)
 |-- `lastname`: StringType() (nullable = False)
 |-- `id`: StringType() (nullable = False)
 |-- `location`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
root
 |-- `middlename`: StringType() (nullable = False)
 |-- `lastname`: StringType() (nullable = False)
 |-- `id`: StringType() (nullable = False)
 |-- `location`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
root
 |-- `id`: StringType() (nullable = False)
 |-- `location`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
root
 |-- `id`: StringType() (nullable = False)
 |-- `location`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)

In [6]:
session.close()