In [1]:
import json
from clickzetta.zettapark.session import Session

# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [2]:
from clickzetta.zettapark.functions import approx_count_distinct
from clickzetta.zettapark.functions import collect_set,sum,avg,max,countDistinct,count
from clickzetta.zettapark.functions import kurtosis, min, mean
from clickzetta.zettapark.functions import stddev, stddev_samp, stddev_pop
from clickzetta.zettapark.functions import variance,var_samp,  var_pop

# from clickzetta.zettapark.functions import collect_list, first,last, skewness , sumDistinct

In [3]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
  
  
df = session.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
# df.show(truncate=False)
df.show()

root
 |-- `employee_name`: StringType() (nullable = False)
 |-- `department`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
---------------------------------------
|employee_name  |department  |salary  |
---------------------------------------
|James          |Sales       |3000    |
|Michael        |Sales       |4600    |
|Robert         |Sales       |4100    |
|Maria          |Finance     |3000    |
|James          |Sales       |3000    |
|Scott          |Finance     |3300    |
|Jen            |Finance     |3900    |
|Jeff           |Marketing   |3000    |
|Kumar          |Marketing   |2000    |
|Saif           |Sales       |4100    |
---------------------------------------

In [4]:
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

# df.select(collect_list("salary")).show(truncate=False)

# df.select(collect_set("salary")).show(truncate=False)

df2 = df.select(countDistinct("department", "salary"))
df2.show()
print("Distinct Count of Department &amp; Salary: "+str(df2.collect()[0][0]))

print("count: "+str(df.select(count("salary")).collect()[0]))
# df.select(first("salary")).show(truncate=False)
# df.select(last("salary")).show(truncate=False)
# df.select(kurtosis("salary")).show()
df.select(max("salary")).show()
df.select(min("salary")).show()
df.select(mean("salary")).show()
# df.select(skewness("salary")).show(truncate=False)
df.select(stddev("salary"), stddev_samp("salary"), \
    stddev_pop("salary")).show()
df.select(sum("salary")).show()
# df.select(sumDistinct("salary")).show(truncate=False)
df.select(variance("salary"),var_samp("salary"),var_pop("salary")) \
  .show()

approx_count_distinct: 6
avg: 3400.0
----------------------------------------
|`count`(distinct department, salary)  |
----------------------------------------
|8                                     |
----------------------------------------

Distinct Count of Department &amp; Salary: 8
count: Row(`count`(salary)=10)
-----------------
|`max`(salary)  |
-----------------
|4600           |
-----------------

-----------------
|`min`(salary)  |
-----------------
|2000           |
-----------------

-----------------
|`avg`(salary)  |
-----------------
|3400.0         |
-----------------

------------------------------------------------------------------------
|`stddev_samp`(salary)  |`stddev_samp`(salary)  |`stddev_pop`(salary)  |
------------------------------------------------------------------------
|765.9416862050705      |765.9416862050705      |726.636084983398      |
------------------------------------------------------------------------

-----------------
|`sum`(salary)  |
-----------------
|34000          |
-----------------

---------------------------------------------------------------
|`var_samp`(salary)  |`var_samp`(salary)  |`var_pop`(salary)  |
---------------------------------------------------------------
|586666.6666666666   |586666.6666666666   |528000.0           |
---------------------------------------------------------------

In [5]:
session.close()