In [1]:
from clickzetta.zettapark.session import Session
from clickzetta.zettapark.functions import *

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [4]:
data = [("James, A, Smith","2018","M",3000),
            ("Michael, Rose, Jones","2010","M",4000),
            ("Robert,K,Williams","2010","M",4000),
            ("Maria,Anne,Jones","2005","F",4000),
            ("Jen,Mary,Brown","2010","",-1)
            ]

columns=["name","dob_year","gender","salary"]
df=session.createDataFrame(data,columns)
df.printSchema()
df.show()

root
 |-- `name`: StringType() (nullable = False)
 |-- `dob_year`: StringType() (nullable = False)
 |-- `gender`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
-----------------------------------------------------
|name                  |dob_year  |gender  |salary  |
-----------------------------------------------------
|James, A, Smith       |2018      |M       |3000    |
|Michael, Rose, Jones  |2010      |M       |4000    |
|Robert,K,Williams     |2010      |M       |4000    |
|Maria,Anne,Jones      |2005      |F       |4000    |
|Jen,Mary,Brown        |2010      |        |-1      |
-----------------------------------------------------

In [6]:
from clickzetta.zettapark.functions import split, col, lit
df2 = df.select(split(col("name"),lit(",")).alias("NameArray")) \
    .drop("name")
df2.printSchema()
df2.show()

root
 |-- `namearray`: ArrayType(StringType()) (nullable = False)
----------------------------------
|namearray                       |
----------------------------------
|['James', ' A', ' Smith']       |
|['Michael', ' Rose', ' Jones']  |
|['Robert', 'K', 'Williams']     |
|['Maria', 'Anne', 'Jones']      |
|['Jen', 'Mary', 'Brown']        |
----------------------------------

In [7]:
session.close()