In [1]:
from clickzetta.zettapark.session import Session

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [4]:
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]

df = session.createDataFrame(data = simpleData, schema = columns)

df.printSchema()
df.show()

root
 |-- `employee_name`: StringType() (nullable = False)
 |-- `department`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
---------------------------------------
|employee_name  |department  |salary  |
---------------------------------------
|James          |Sales       |3000    |
|Michael        |Sales       |4600    |
|Robert         |Sales       |4100    |
|Maria          |Finance     |3000    |
|James          |Sales       |3000    |
|Scott          |Finance     |3300    |
|Jen            |Finance     |3900    |
|Jeff           |Marketing   |3000    |
|Kumar          |Marketing   |2000    |
|Saif           |Sales       |4100    |
---------------------------------------

In [5]:
from clickzetta.zettapark.window import Window
from clickzetta.zettapark.functions import row_number
windowSpec  = Window.partitionBy("department").orderBy("salary")

df.withColumn("row_number",row_number().over(windowSpec)) \
    .show()

from clickzetta.zettapark.functions import rank
df.withColumn("rank",rank().over(windowSpec)) \
    .show()

from clickzetta.zettapark.functions import dense_rank
df.withColumn("dense_rank",dense_rank().over(windowSpec)) \
    .show()

from clickzetta.zettapark.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)) \
    .show()
    
from clickzetta.zettapark.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)) \
    .show()

from clickzetta.zettapark.functions import cume_dist    
df.withColumn("cume_dist",cume_dist().over(windowSpec)) \
   .show()

from clickzetta.zettapark.functions import lag    
df.withColumn("lag",lag("salary",2).over(windowSpec)) \
      .show()

from clickzetta.zettapark.functions import lead    
df.withColumn("lead",lead("salary",2).over(windowSpec)) \
    .show()
    
windowSpecAgg  = Window.partitionBy("department")

----------------------------------------------------
|employee_name  |department  |salary  |row_number  |
----------------------------------------------------
|Maria          |Finance     |3000    |1           |
|Scott          |Finance     |3300    |2           |
|Jen            |Finance     |3900    |3           |
|Kumar          |Marketing   |2000    |1           |
|Jeff           |Marketing   |3000    |2           |
|James          |Sales       |3000    |1           |
|James          |Sales       |3000    |2           |
|Robert         |Sales       |4100    |3           |
|Saif           |Sales       |4100    |4           |
|Michael        |Sales       |4600    |5           |
----------------------------------------------------

----------------------------------------------
|employee_name  |department  |salary  |rank  |
----------------------------------------------
|Maria          |Finance     |3000    |1     |
|Scott          |Finance     |3300    |2     |
|Jen            |Finance     |3900    |3     |
|Kumar          |Marketing   |2000    |1     |
|Jeff           |Marketing   |3000    |2     |
|James          |Sales       |3000    |1     |
|James          |Sales       |3000    |1     |
|Robert         |Sales       |4100    |3     |
|Saif           |Sales       |4100    |3     |
|Michael        |Sales       |4600    |5     |
----------------------------------------------

----------------------------------------------------
|employee_name  |department  |salary  |dense_rank  |
----------------------------------------------------
|Maria          |Finance     |3000    |1           |
|Scott          |Finance     |3300    |2           |
|Jen            |Finance     |3900    |3           |
|Kumar          |Marketing   |2000    |1           |
|Jeff           |Marketing   |3000    |2           |
|James          |Sales       |3000    |1           |
|James          |Sales       |3000    |1           |
|Robert         |Sales       |4100    |2           |
|Saif           |Sales       |4100    |2           |
|Michael        |Sales       |4600    |3           |
----------------------------------------------------

------------------------------------------------------
|employee_name  |department  |salary  |percent_rank  |
------------------------------------------------------
|Maria          |Finance     |3000    |0.0           |
|Scott          |Finance     |3300    |0.5           |
|Jen            |Finance     |3900    |1.0           |
|Kumar          |Marketing   |2000    |0.0           |
|Jeff           |Marketing   |3000    |1.0           |
|James          |Sales       |3000    |0.0           |
|James          |Sales       |3000    |0.0           |
|Robert         |Sales       |4100    |0.5           |
|Saif           |Sales       |4100    |0.5           |
|Michael        |Sales       |4600    |1.0           |
------------------------------------------------------

-----------------------------------------------
|employee_name  |department  |salary  |ntile  |
-----------------------------------------------
|Maria          |Finance     |3000    |1      |
|Scott          |Finance     |3300    |1      |
|Jen            |Finance     |3900    |2      |
|Kumar          |Marketing   |2000    |1      |
|Jeff           |Marketing   |3000    |2      |
|James          |Sales       |3000    |1      |
|James          |Sales       |3000    |1      |
|Robert         |Sales       |4100    |1      |
|Saif           |Sales       |4100    |2      |
|Michael        |Sales       |4600    |2      |
-----------------------------------------------

------------------------------------------------------------
|employee_name  |department  |salary  |cume_dist           |
------------------------------------------------------------
|Maria          |Finance     |3000    |0.3333333333333333  |
|Scott          |Finance     |3300    |0.6666666666666666  |
|Jen            |Finance     |3900    |1.0                 |
|Kumar          |Marketing   |2000    |0.5                 |
|Jeff           |Marketing   |3000    |1.0                 |
|James          |Sales       |3000    |0.4                 |
|James          |Sales       |3000    |0.4                 |
|Robert         |Sales       |4100    |0.8                 |
|Saif           |Sales       |4100    |0.8                 |
|Michael        |Sales       |4600    |1.0                 |
------------------------------------------------------------

----------------------------------------------
|employee_name  |department  |salary  |lag   |
----------------------------------------------
|Maria          |Finance     |3000    |NULL  |
|Scott          |Finance     |3300    |NULL  |
|Jen            |Finance     |3900    |3000  |
|Kumar          |Marketing   |2000    |NULL  |
|Jeff           |Marketing   |3000    |NULL  |
|James          |Sales       |3000    |NULL  |
|James          |Sales       |3000    |NULL  |
|Robert         |Sales       |4100    |3000  |
|Saif           |Sales       |4100    |3000  |
|Michael        |Sales       |4600    |4100  |
----------------------------------------------

----------------------------------------------
|employee_name  |department  |salary  |lead  |
----------------------------------------------
|Maria          |Finance     |3000    |3900  |
|Scott          |Finance     |3300    |NULL  |
|Jen            |Finance     |3900    |NULL  |
|Kumar          |Marketing   |2000    |NULL  |
|Jeff           |Marketing   |3000    |NULL  |
|James          |Sales       |3000    |4100  |
|James          |Sales       |3000    |4100  |
|Robert         |Sales       |4100    |4600  |
|Saif           |Sales       |4100    |NULL  |
|Michael        |Sales       |4600    |NULL  |
----------------------------------------------

In [6]:
from clickzetta.zettapark.functions import col,avg,sum,min,max,row_number 
df.withColumn("row",row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("salary")).over(windowSpecAgg)) \
  .withColumn("sum", sum(col("salary")).over(windowSpecAgg)) \
  .withColumn("min", min(col("salary")).over(windowSpecAgg)) \
  .withColumn("max", max(col("salary")).over(windowSpecAgg)) \
  .where(col("row")==1).select("department","avg","sum","min","max") \
  .show()

---------------------------------------------
|department  |avg     |sum    |min   |max   |
---------------------------------------------
|Finance     |3400.0  |10200  |3000  |3900  |
|Marketing   |2500.0  |5000   |2000  |3000  |
|Sales       |3760.0  |18800  |3000  |4600  |
---------------------------------------------

In [7]:
session.close()