In [1]:
# !pip install -U clickzetta-zettapark-python -i https://pypi.tuna.tsinghua.edu.cn/simple

In [2]:
# !pip uninstall -y clickzetta_zettapark_python-1.13.0-py3-none-any.whl

In [3]:
from clickzetta.zettapark.session import Session

In [4]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [6]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NV",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","DE",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","NV",80000,25,18000),
    ("Kumar","Marketing","NJ",91000,50,21000)
  ]
schema = ["employee_name","department","state","salary","age","bonus"]

In [7]:
from clickzetta.zettapark.functions import sum
df = session.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show()

dfSort = df.sort(df.state, df.salary).groupBy(df.state).agg(sum(df.salary).alias('total_salary'))
dfSort.show()

root
 |-- `employee_name`: StringType() (nullable = False)
 |-- `department`: StringType() (nullable = False)
 |-- `state`: StringType() (nullable = False)
 |-- `salary`: IntegerType() (nullable = False)
 |-- `age`: IntegerType() (nullable = False)
 |-- `bonus`: IntegerType() (nullable = False)
-------------------------------------------------------------
|employee_name  |department  |state  |salary  |age  |bonus  |
-------------------------------------------------------------
|James          |Sales       |NY     |90000   |34   |10000  |
|Michael        |Sales       |NV     |86000   |56   |20000  |
|Robert         |Sales       |CA     |81000   |30   |23000  |
|Maria          |Finance     |CA     |90000   |24   |23000  |
|Raman          |Finance     |DE     |99000   |40   |24000  |
|Scott          |Finance     |NY     |83000   |36   |19000  |
|Jen            |Finance     |NY     |79000   |53   |15000  |
|Jeff           |Marketing   |NV     |80000   |25   |18000  |
|Kumar          |Marketing   |NJ     |91000   |50   |21000  |
-------------------------------------------------------------

------------------------
|state  |total_salary  |
------------------------
|CA     |171000        |
|DE     |99000         |
|NY     |252000        |
|NV     |166000        |
|NJ     |91000         |
------------------------

In [8]:
session.close()