In [1]:
import json
from clickzetta.zettapark.session import Session
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [2]:
data=[("James",23),("Ann",40)]
df=session.createDataFrame(data).toDF("name.fname","gender")
df.printSchema()
df.show()

root
 |-- `name.fname`: StringType() (nullable = False)
 |-- `gender`: IntegerType() (nullable = False)
-----------------------
|name.fname  |gender  |
-----------------------
|James       |23      |
|Ann         |40      |
-----------------------

In [3]:
from clickzetta.zettapark.functions import col
df.select(col("`name.fname`")).show()
df.select(df["`name.fname`"]).show()
df.withColumn("new_col",col("`name.fname`").substr(1,2)).show()
df.filter(col("`name.fname`").startswith("J")).show()
new_cols=(column.replace('.', '_') for column in df.columns)
df2 = df.toDF(*new_cols)
df2.show()


# Using DataFrame object
df.select(df.gender).show()
df.select(df["gender"]).show()
#Accessing column name with dot (with backticks)
df.select(df["`name.fname`"]).show()

--------------
|name.fname  |
--------------
|James       |
|Ann         |
--------------

--------------
|name.fname  |
--------------
|James       |
|Ann         |
--------------

---------------------------------
|name.fname  |gender  |new_col  |
---------------------------------
|James       |23      |Ja       |
|Ann         |40      |An       |
---------------------------------

-----------------------
|name.fname  |gender  |
-----------------------
|James       |23      |
-----------------------

-----------------------
|name_fname  |gender  |
-----------------------
|James       |23      |
|Ann         |40      |
-----------------------

----------
|gender  |
----------
|23      |
|40      |
----------

----------
|gender  |
----------
|23      |
|40      |
----------

--------------
|name.fname  |
--------------
|James       |
|Ann         |
--------------

In [4]:
#Using SQL col() function
from clickzetta.zettapark.functions import col
from clickzetta.zettapark import Row
df.select(col("gender")).show()
#Accessing column name with dot (with backticks)
df.select(col("`name.fname`")).show()

----------
|gender  |
----------
|23      |
|40      |
----------

--------------
|name.fname  |
--------------
|James       |
|Ann         |
--------------

In [5]:
# Column operators
data=[(100,2,1),(200,3,4),(300,4,4)]
df=session.createDataFrame(data).toDF("col1","col2","col3")
df.select(df.col1 + df.col2).show()
df.select(df.col1 - df.col2).show() 
df.select(df.col1 * df.col2).show()
df.select(df.col1 / df.col2).show()
df.select(df.col1 % df.col2).show()

df.select(df.col2 > df.col3).show()
df.select(df.col2 < df.col3).show()
df.select(df.col2 == df.col3).show()

---------------
|col1 + col2  |
---------------
|102          |
|203          |
|304          |
---------------

---------------
|col1 - col2  |
---------------
|98           |
|197          |
|296          |
---------------

---------------
|col1 * col2  |
---------------
|200          |
|600          |
|1200         |
---------------

---------------------
|col1 / col2        |
---------------------
|50.0               |
|66.66666666666667  |
|75.0               |
---------------------

---------------
|col1 % col2  |
---------------
|0            |
|2            |
|0            |
---------------

---------------
|col2 > col3  |
---------------
|True         |
|False        |
|False        |
---------------

---------------
|col2 < col3  |
---------------
|False        |
|True         |
|False        |
---------------

---------------
|col2 = col3  |
---------------
|False        |
|False        |
|True         |
---------------

In [6]:
session.close()