In [1]:
from clickzetta.zettapark.session import Session
import pandas as pd

In [2]:
import json
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [4]:
data = [["James","","Smith",30,"M",60000], 
        ["Michael","Rose","",50,"M",70000], 
        ["Robert","","Williams",42,"",400000], 
        ["Maria","Anne","Jones",38,"F",500000], 
        ["Jen","Mary","Brown",45,None,0]] 
columns = ['First Name', 'Middle Name','Last Name','Age','Gender','Salary']

# Create the pandas DataFrame 
pandasDF = pd.DataFrame(data=data, columns=columns) 
  
# print dataframe. 
print(pandasDF)

#Outputs below data on console

pdCount=pandasDF.count()
print(pdCount)

  First Name Middle Name Last Name  Age Gender  Salary
0      James                 Smith   30      M   60000
1    Michael        Rose             50      M   70000
2     Robert              Williams   42         400000
3      Maria        Anne     Jones   38      F  500000
4        Jen        Mary     Brown   45   None       0
First Name     5
Middle Name    5
Last Name      5
Age            5
Gender         4
Salary         5
dtype: int64

In [5]:
print(pandasDF['Age'].max())
print(pandasDF['Age'].mean())

50
41.0

In [6]:
session.close()