In [1]:
import json
from clickzetta.zettapark.session import Session
# 从配置文件中读取参数
with open('security/config-uat.json', 'r') as config_file:
    config = json.load(config_file)

# 创建会话
session = Session.builder.configs(config).create()

In [2]:
data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
columns = ["Name","Dept","Salary"]

In [3]:
df = session.createDataFrame(data=data,schema=columns)
df.distinct().show()
print("Distinct Count: " + str(df.distinct().count()))

--------------------------------
|name     |dept       |salary  |
--------------------------------
|Michael  |Sales      |4600    |
|Robert   |Sales      |4100    |
|Maria    |Finance    |3000    |
|James    |Sales      |3000    |
|Scott    |Finance    |3300    |
|Jen      |Finance    |3900    |
|Jeff     |Marketing  |3000    |
|Kumar    |Marketing  |2000    |
|Saif     |Sales      |4100    |
--------------------------------

Distinct Count: 9

In [4]:
# Using countDistrinct()
from clickzetta.zettapark.functions import countDistinct
df2=df.select(countDistinct("Dept","Salary"))
df2.show()

print("Distinct Count of Department &amp; Salary: "+ str(df2.collect()[0][0]))

df.createOrReplaceTempView("PERSON")
session.sql("select distinct(count(*)) from PERSON").show()

----------------------------------
|`count`(distinct dept, salary)  |
----------------------------------
|8                               |
----------------------------------

Distinct Count of Department &amp; Salary: 8
--------------
|`count`(*)  |
--------------
|10          |
--------------

In [5]:
session.close()