创建一张表，覆盖云器Lakehouse支持的所有表结构数据类型，并以这张表为基表，创建普通视图和物化视图。

In [1]:
CREATE SCHEMA IF NOT EXISTS lakehouse_demo_table_design_schema;
USE SCHEMA lakehouse_demo_table_design_schema;
SELECT current_schema();

In [2]:
--云器Lakehouse支持的所有表结构数据类型
CREATE TABLE IF NOT EXISTS clickzetta_datatypes
(
    c_bigint BIGINT,
    c_boolean BOOLEAN,
    c_binary BINARY,
    c_char CHAR,
    c_data DATE,
    c_decimal DECIMAL(20,6),
    c_double DOUBLE,
    c_float FLOAT,
    c_int INT,
    c_interval INTERVAL DAY,
    c_smallint SMALLINT,
    c_string STRING,
    c_timestamp TIMESTAMP,
    c_tinyint TINYINT,
    c_array ARRAY<STRUCT<a: INT, b: STRING>>,
    c_map MAP<STRING, STRING>,
    c_struct STRUCT<a: INT, b: STRING, c: DOUBLE>,
    c_varchar VARCHAR(1024)
);
--LIKE语句可以再创建一个表，使目标表和源表具有相同的表结构。但通过该语句创建的表不复制数据
CREATE  TABLE IF NOT EXISTS clickzetta_datatypes_like LIKE clickzetta_datatypes;

--AS语句可用于同步或异步查询原表并基于查询结果创建新表，然后将查询结果插入到新表中,但是不会复制分区信息
CREATE  TABLE IF NOT EXISTS clickzetta_datatypes_as AS select* from clickzetta_datatypes;

--创建普通视图
CREATE VIEW  IF NOT EXISTS clickzetta_datatypes_view as select* from clickzetta_datatypes;

--创建物化视图
CREATE MATERIALIZED VIEW clickzetta_datatypes_mv
                REFRESH interval 1 minute
                AS select * from clickzetta_datatypes limit 1;

--检查创建好的表、视图、物化视图
show tables like 'clickzetta_datatypes%';

往表里插入记录

In [4]:
INSERT INTO clickzetta_datatypes VALUES
(1, true, X'01', 'a', DATE'2022-02-01', 1000.123456, 2.0, 1.5, 42, INTERVAL 1 DAY, 103, 'test string 1',TIMESTAMP '2022-02-01 20:00:00', 11, ARRAY(STRUCT(1, 'A')), MAP('key1', 'value1'), STRUCT(1, 'A', 2.0), 'varchar example 1'),
(2, false, X'02', 'b', DATE'2022-02-02', 2000.234567, 4.0, 2.5, 84, INTERVAL 2 DAY, 104,'test string 2',TIMESTAMP '2022-02-02 21:00:00', 12, ARRAY(STRUCT(2, 'B')), MAP('key2', 'value2'), STRUCT(2, 'B', 4.0), 'varchar example 2');

In [5]:
SELECT * FROM clickzetta_datatypes;

In [6]:
-- 1. 按日期筛选
SELECT * FROM clickzetta_datatypes WHERE c_data >= DATE '2022-02-02';

-- 2. 选择特定时间范围内的记录
SELECT * FROM clickzetta_datatypes WHERE c_timestamp BETWEEN TIMESTAMP '2022-02-01 20:00:00' AND TIMESTAMP '2022-02-02 21:00:00';

-- 3. 对日期添加天数
SELECT c_data, c_data + INTERVAL 7 DAY as plus_7_days FROM clickzetta_datatypes;

-- 4. 计算两个日期之间的天数差
SELECT c_data, DATEDIFF((SELECT c_data FROM clickzetta_datatypes WHERE c_bigint = 2), c_data) as days_difference FROM clickzetta_datatypes;

-- 5. 提取日期的年份、月份和日
SELECT EXTRACT(YEAR FROM c_data) as year, EXTRACT(MONTH FROM c_data) as month, EXTRACT(DAY FROM c_data) as day FROM clickzetta_datatypes;

-- 6. 计算时间戳与当前时间的差值（分钟）
SELECT c_timestamp, TIMESTAMPDIFF(MINUTE, c_timestamp, NOW()) as minutes_difference FROM clickzetta_datatypes;

-- 7. 计算时间戳与当前时间的差值（分钟）
SELECT  INTERVAL 10 DAY, c_interval, INTERVAL 10 DAY > c_interval from clickzetta_datatypes;

In [7]:
-- 1. 提取map中的值
SELECT
  c_int,
  c_map['key1'] AS map_key1_value, 
  c_map['key2'] AS map_key2_value
FROM clickzetta_datatypes;

-- 2. 计算map长度
SELECT
  c_int,
  cardinality(c_map) AS map_length
FROM clickzetta_datatypes;

-- 3. 提取array中的结构字段
SELECT
  c_int,
  c_array[1].a AS array_col1_value, 
  c_array[1].b AS array_col2_value
FROM clickzetta_datatypes;

-- 4. 计算数组长度
SELECT
  c_int,
  array_size(c_array) AS array_length
FROM clickzetta_datatypes;

-- 5. 提取结构中的值
SELECT
  c_int,
  c_struct.a AS struct_col1_value,
  c_struct.b AS struct_col2_value,
  c_struct.c AS struct_col3_value
FROM clickzetta_datatypes;

-- 6. 结果放在一个cell里
SELECT
  c_int,
  concat(
    'Map Value Key1: ', c_map['key1'], ', ',
    'Map Value Key2: ', c_map['key2'], ', ',
    'Array Struct: (', c_array[1].a, ', ', c_array[1].b, ')'
  ) AS combined_result
FROM clickzetta_datatypes;

In [8]:
DROP TABLE IF EXISTS clickzetta_datatypes;
DROP TABLE IF EXISTS clickzetta_datatypes_like;
DROP TABLE IF EXISTS clickzetta_datatypes_as;
DROP VIEW IF EXISTS clickzetta_datatypes_view;
DROP MATERIALIZED VIEW IF EXISTS clickzetta_datatypes_mv;
DROP SCHEMA IF EXISTS lakehouse_demo_table_design_schema;