Schema Evolution 支持通过ALTER语句变更表中的列，支持添加列、修改列、删除列。
修改列包括修改列名和列的数据类型。
支持修改复杂类型变化。
文档链接：https://doc.clickzetta.com/zh-CN/ALTERTABLE...COLUMN

In [1]:
CREATE SCHEMA IF NOT EXISTS clickzetta_demo_schema_evolution_schema;
USE SCHEMA clickzetta_demo_schema_evolution_schema;
CREATE TABLE if not exists schema_evolution (
    t_tinyint tinyint,
    t_snmallint smallint,
    t_int int,
    t_bigint bigint,
    t_float float,
    t_double double,
    t_decimal decimal(5,2)
)partitioned by(pt string);

In [2]:
insert into schema_evolution select 1y,234s,10000,100000000,0.2f,0.004d,123.1bd,'202231120'

In [3]:
ALTER TABLE schema_evolution ADD COLUMN t_add int comment 'add';

In [4]:
desc schema_evolution;

In [5]:
ALTER TABLE schema_evolution ADD COLUMN t_add2 int comment 'add' after t_decimal;
desc schema_evolution;

In [6]:
ALTER TABLE schema_evolution DROP   COLUMN t_add;
desc schema_evolution;

In [7]:
ALTER TABLE schema_evolution rename COLUMN t_add2 to t_add;
desc schema_evolution;
select * from schema_evolution;

In [8]:
ALTER TABLE schema_evolution change COLUMN t_add  after t_tinyint ;
select * from schema_evolution;

In [9]:
ALTER TABLE schema_evolution change COLUMN t_decimal  type DECIMAl(7,4) ;
select * from schema_evolution;

In [10]:
--参考文档：https://doc.clickzetta.com/zh-CN/ALTERTABLE...COLUMN
ALTER TABLE schema_evolution change COLUMN t_decimal  type date ;

In [11]:
ALTER TABLE schema_evolution change COLUMN t_tinyint  comment 'mysmallint';
desc schema_evolution;

In [12]:
CREATE TABLE schema_evolution_01 (
  point struct<x: int, y: double>,
  points array<struct<x: double, y: double>>,
  points_ky map<struct<x: int>, struct<a: int>>
    );

In [13]:
insert into schema_evolution_01 values(struct(1D,2D),array(struct(1D,2D)),null);

In [14]:
ALTER TABLE schema_evolution_01 ADD COLUMN point.z double ;
select * from schema_evolution_01;

In [15]:
ALTER TABLE schema_evolution_01 DROP COLUMN point.z;
select * from schema_evolution_01;

In [16]:
ALTER TABLE schema_evolution_01 rename COLUMN point.x to xx;
select * from schema_evolution_01;

In [17]:
ALTER TABLE schema_evolution_01 DROP COLUMN points.element.y;
desc schema_evolution_01;

In [18]:
ALTER TABLE schema_evolution_01 CHANGE COLUMN point.xx type bigint;
desc schema_evolution_01;

In [19]:
ALTER TABLE schema_evolution_01 CHANGE COLUMN point.y first;
select * from schema_evolution_01;

In [20]:
DROP SCHEMA IF EXISTS clickzetta_demo_schema_evolution_schema;